name: Test
on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install pnpm
        uses: pnpm/action-setup@v4
      - name: Install Node
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: pnpm
      - name: Install RGBDS
        run: |
          mkdir /tmp/rgbds
          cd /tmp/rgbds
          curl -L https://github.com/gbdev/rgbds/releases/download/v1.0.1/rgbds-linux-x86_64.tar.xz | tar -xJ
          sudo ./install.sh
      - name: Install deps
        run: pnpm install
      - name: Build
        run: pnpm build
      - name: Test
        run: pnpm test
